{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}Blog{% endblock %} 
{% block content %}

	<div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Blog</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'base:home' %}">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="section latest-news-area blog-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <!-- Single News -->
                            <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                                <div class="image">
                                    <a href="{% url 'base:showBlog' %}"><img class="thumb" src="{% static 'images/blog/blog1.jpg' %}" alt="#"></a>
                                </div>
                                <div class="content-body">
                                    <h4 class="title">
                                        <a href="{% url 'base:showBlog' %}">
                                            10 Things Successful Mompreneurs Do
                                            Different
                                        </a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta libero </p>
                                    <div class="meta-details">
                                        <ul>
                                            <li><a href="javascript:void(0)">Jan 24,2023</a></li>
                                            <li><a href="javascript:void(0)">Technology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination left blog-grid-page">
                        <ul class="pagination-list">
                            <li><a href="javascript:void(0)"><i class="lni lni-chevron-left"></i></a></li>
                            <li class="active"><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>



                {% include 'inc/blog-sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock content %}