{% load static %}

<div class="col-lg-4 col-md-6 col-12">
    <div class="single-item-grid">
        <div class="image">
            <a href="{% url 'product' %}"><img src="{% static 'images/items-tab/item-1.jpg' %}" alt="#"></a>
            <i class=" cross-badge lni lni-bolt"></i>
            <span class="flat-badge sale">Sale</span>
        </div>
        <div class="content">
            <a href="javascript:void(0)" class="tag">Mobile</a>
            <h3 class="title">
                <a href="{% url 'product' %}">Apple Iphone X</a>
            </h3>
            <p class="location"><a href="javascript:void(0)"><i class="lni lni-map-marker">
                    </i>Boston</a></p>
            <ul class="info">
                <li class="price">$890.00</li>
                <li class="like">
                    <a href="javascript:void(0)">
                        <i class="lni lni-heart"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>