{% load static %}

<section class="testimonials section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title align-center gray-bg">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">What People Say</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row testimonial-slider">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Testimonial -->
                <div class="single-testimonial">
                    <div class="quote-icon">
                        <i class="lni lni-quotation"></i>
                    </div>
                    <div class="author">
                        <img src="{% static 'images/testimonial/testi1.jpg' %}" alt="#">
                        <h4 class="name">
                            Jane Anderson
                            <span class="deg">Founder & CEO</span>
                        </h4>
                    </div>
                    <div class="text">
                        <p>"It’s amazing how much easier it has been to meet new people and create instant
                            connections. I have the exact same personality, the only thing that has changed is my
                            mindset and a few behaviors."</p>
                    </div>
                </div>
                <!-- End Single Testimonial -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Testimonial -->
                <div class="single-testimonial">
                    <div class="quote-icon">
                        <i class="lni lni-quotation"></i>
                    </div>
                    <div class="author">
                        <img src="{% static 'images/testimonial/testi2.jpg' %}" alt="#">
                        <h4 class="name">
                            Devid Samuyel
                            <span class="deg">Web Developer</span>
                        </h4>
                    </div>
                    <div class="text">
                        <p>"It’s amazing how much easier it has been to meet new people and create instant
                            connections. I have the exact same personality, the only thing that has changed is my
                            mindset and a few behaviors."</p>
                    </div>
                </div>
                <!-- End Single Testimonial -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Testimonial -->
                <div class="single-testimonial">
                    <div class="quote-icon">
                        <i class="lni lni-quotation"></i>
                    </div>
                    <div class="author">
                        <img src="{% static 'images/testimonial/testi3.jpg' %}" alt="#">
                        <h4 class="name">
                            Jully Sulli
                            <span class="deg">Ui/Ux Designer</span>
                        </h4>
                    </div>
                    <div class="text">
                        <p>"It’s amazing how much easier it has been to meet new people and create instant
                            connections. I have the exact same personality, the only thing that has changed is my
                            mindset and a few behaviors."</p>
                    </div>
                </div>
                <!-- End Single Testimonial -->
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //========= testimonial 
    tns({
        container: '.testimonial-slider',
        items: 3,
        slideBy: 'page',
        autoplay: false,
        mouseDrag: true,
        gutter: 0,
        nav: true,
        controls: false,
        controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 1,
            },
            768: {
                items: 2,
            },
            992: {
                items: 2,
            },
            1170: {
                items: 2,
            }
        }
    });

    //====== Clients Logo Slider
    tns({
        container: '.client-logo-carousel',
        slideBy: 'page',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 15,
        nav: false,
        controls: false,
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 3,
            },
            768: {
                items: 4,
            },
            992: {
                items: 4,
            },
            1170: {
                items: 6,
            }
        }
    });

    //========= glightbox
    GLightbox({
        'href': 'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
        'type': 'video',
        'source': 'youtube', //vimeo, youtube or local
        'width': 900,
        'autoplayVideos': true,
    });

    //====== counter up 
    var cu = new counterUp({
        start: 0,
        duration: 2000,
        intvalues: true,
        interval: 100,
        append: " ",
    });
    cu.start();
</script>